[submodule "BaysideBalloons"]
	path = BaysideBalloons
	url = https://github.com/jkim33/BaysideBalloons.git
[submodule "Spring/BaysideBalloons"]
	path = Spring/BaysideBalloons
	url = https://github.com/jkim33/BaysideBalloons.git
[submodule "Final_Projects/Spring_FP/BaysideBalloons"]
	path = Final_Projects/Spring_FP/BaysideBalloons
	url = https://github.com/jkim33/BaysideBalloons.git
[submodule "Labs/Spring_Labs/BaysideBanans"]
	path = Labs/Spring_Labs/BaysideBanans
	url = https://github.com/dereksong01/BaysideBananas.git
